html,body{
    border:none; padding:0; margin:0;
    background:#1b1b1d;
    color:#202020;
}
/*NavBar*/
#navbar{
    width: 100%;
    height: 60px;
    background: #1b1b1d;
}

/*Shadow*/
.box-shadow-card-dark-mktg {
	box-shadow: 0 0 0 1px rgb(46 46 46), 0px 20px 20px 0px rgb(0 0 0 / 15%)
}

.box-shadow-card-dark-mktg::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
	content: "";
	border-radius: inherit;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .1)
}

/*logo*/
#logo{
	position: absolute;
	background: url(../images/logo/logo.svg);
	width: 32px;
	height: 32px;
	top: 14px;
	left: 25px;
}

#privacyLink{
	position: absolute;
	right: 40px;
	top: 20px;
	color: #cdd9e5;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: bold;
	font-size: 15px;
}